@model GaleriPageViewModel
@{
    ViewData["Title"] = "Sanatçı & Resim Tasarımcıları Ajansı";
    ViewData["PageUrl"] = "Galeri";
}

@section Styles {
    <link href="~/css/Galeri.css" rel="stylesheet" />
}

<section id="gallery" class="gallery-container bg-light">
    <div class="container">
        <div class="gallery-title">
            <h2>Sanat Galerisi</h2>
            <p>En son çalışmalarımı ve özel koleksiyonlarımı keşfedin. Her bir eser, tutkuyla ve özenle yaratılmıştır.</p>
        </div>

        <div class="filter-buttons">
            <a asp-action="Index" asp-route-altkategori="" asp-route-kategori="" class="filter-btn @(Model.Selected == null ? "active" : "")">Tümü</a>
            @foreach (var category in Model.Categories)
            {
                <a asp-action="Index" asp-route-kategori="@category.UrlName" class="filter-btn @(Model.Selected?.UrlName == category.UrlName ? "active" : "" ?? "")">@category.DisplayName</a>
            }
        </div>
        
        
        @if (Model.SubCategories.Any())
        {
            <div class="subcategory-group active" data-category="klasik">
                @foreach (var i in Model.SubCategories)
                {
                    <a asp-action="Index" asp-route-kategori="@i.Category.UrlName" asp-route-altkategori="@i.UrlName" class="subcategory-btn @(i.Id == Model.SelectedSub.Id ? "active" : "")" data-filter="klasik-portre">@i.DisplayName</a>
                }
            </div>
        }



        @if (Model.Projects.Any())
        {
            <div class="gallery-grid">
                @foreach (var i in Model.Projects)
                {
                    <div class="gallery-item" onclick="location.href='@Url.Action("Detay", new { url = i.UrlName })'">
                        <img src="@((i.Images.FirstOrDefault(x => x.IsMainImage) ?? i.Images.FirstOrDefault())?.Url ?? "~/images/nullimg.jpg")" alt="Sanat Eseri 1" class="gallery-image">
                        <div class="gallery-overlay">
                            <span class="gallery-category">@i.SubCategory.DisplayName</span>
                            <h3>@i.DisplayName</h3>
                            <p>@i.Description</p>
                            <a href="exhibition-detail.html?id=1" class="text-white">Detayları Gör <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-center text-gray-400 my-2">Proje bulunamadı.</div>
        }

    </div>
</section>