@model GaleriPageViewModel
@{
    ViewData["Title"] = "Sanatçı & Resim Tasarımcıları Ajansı";
    ViewData["PageUrl"] = "Galeri";
}

@section Styles {
<link href="~/css/Galeri.css" rel="stylesheet" />
}

@await Component.InvokeAsync("PageContent", ViewData["PageUrl"])

<section id="gallery" class="gallery-container bg-light">
    <div class="container">

        <div class="filter-buttons">
            <a asp-action="Index" asp-route-kategori="" asp-route-altkategori="" class="filter-btn @(Model.Selected is null ? "active" : "")">
                <span class="btn-text">Tümü</span>
            </a>
            @foreach (var category in Model.Categories)
            {
                var defaultSubUrl = $"{category.UrlName}-kategorisiz";
                if (category.SubCategories
                .Any(x => x.UrlName != defaultSubUrl))
                {
                    <div class="filter-dropdown">
                        <button class="filter-btn has-dropdown" data-toggle="dropdown">
                            <span class="btn-text">@category.DisplayName</span>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-content">
                            @foreach (var subcategory in category.SubCategories.OrderBy(x => x.UrlName == defaultSubUrl ? 0 : 1))
                            {
                                <a asp-action="Index" asp-route-kategori="@category.UrlName" asp-route-altkategori="@subcategory.UrlName" class="filter-btn  @(Model.SelectedSub != null && Model.SelectedSub.Id == subcategory.Id ? "active" : "")">
                                    <span class="btn-text">@subcategory.DisplayName</span>
                                </a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <a asp-action="Index" asp-route-kategori="@category.UrlName" asp-route-altkategori="@(category.UrlName)-kategorisiz" class="filter-btn @(Model.Selected != null && category.Id == Model.Selected.Id ? "active" : "")">
                        <span class="btn-text">@category.DisplayName</span>
                    </a>
                }
            }
        </div>

        <div class="gallery-grid">
            @if (Model.Projects.Any())
            {
                @foreach (var project in Model.Projects)
                {
                    <a asp-controller="Galeri" asp-action="Detay" asp-route-url="@project.UrlName">
                        <div class="gallery-item">
                            <img src="@(project.Images.FirstOrDefault(x => x.IsMainImage)?.Url 
                                      ?? project.Images.FirstOrDefault()?.Url 
                                      ?? Url.Content("~/images/nullimg.jpg"))" 
                                 alt="@project.DisplayName" class="gallery-image">
                            <div class="gallery-overlay">
                                <span class="gallery-category">
                                    @project.SubCategory.DisplayName
                                </span>
                                <h3>@project.DisplayName</h3>
                                <p class="text-center">@(project.Description.Length > 50
                                                           ? $"{project.Description[..50]}..."
                                                           : project.Description)</p>
                                <span class="text-white">Detayları Gör <i class="fas fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>