@model List<CarouselViewModel>



@if(Model != null)
{
    if (Model.Count > 1)
    {
        <section class="hero-section">
            <div class="swiper hero-slider">
                <div class="swiper-wrapper">
                    @foreach (var i in Model)
                    {
                        <div class="swiper-slide">
                            <img src="@(i.ImageUrl ?? "")" alt="Sanat" width="1920" height="1080">
                            <div class="hero-content flex-column gap-2">
                                <div class="">
                                    <h1 class="hero-title">@(i.Text2 ?? "")</h1>
                                </div>
                                <div class="hero-text-box">
                                    <h2 class="hero-subtitle">@(i.Text3 ?? "")</h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    }
    else
    {
        var i = @Model.FirstOrDefault();
        if (i != null)
        {
            <section class="about-hero">
                <img src="@i.ImageUrl" alt="About Us Hero" class="w-100 h-100 object-fit-cover">
                <div class="hero-content flex-col">
                    <h1 class="hero-title m-0">@(i.Text2 ?? "")</h1>
                    <h2 class="hero-subtitle text-gray-200">@(i.Text3 ?? "")</h2>
                </div>
            </section>
        }
    }
}
