@model IEnumerable<Core.Entities.Project>
@{
    ViewData["Title"] = "Proje Listesi";
    Layout = "_AdminLayout";
}

<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
    <div class="flex flex-col md:flex-row justify-between">
        <div class="mb-6">
            <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Proje Listesi</h1>
        </div>

        <div class="mb-6 flex justify-end">
            <a asp-action="Create" class="inline-flex items-center px-4 py-2.5 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-primary-600
            hover:bg-primary-700 hover:shadow-md
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500
            duration-300">
                <i class="fas fa-plus mr-2"></i>
                Yeni Proje
            </a>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-900" id="projectTable">
            <thead class="bg-gray-50 dark:bg-gray-900">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Proje Adı</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Url</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Kategori</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Öne Çıkan</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Görünür</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Oluşturulma Tarihi</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">İşlemler</th>
                </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-slate-900">
                @foreach (var item in Model)
                {
                    <tr class="hover:bg-gray-50 dark:hover:bg-gray-700 duration-300">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-gray-300">@item.DisplayName</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-gray-300">@item.UrlName</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-gray-300">@item.SubCategory?.DisplayName</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm">
                            @if (item.IsHighlighted)
                            {
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 dark:bg-green-900 text-green-800 dark:text-green-200">
                                    Evet
                                </span>
                            }
                            else
                            {
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 dark:bg-slate-900 text-gray-800 dark:text-slate-500">
                                    Hayır
                                </span>
                            }
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm">
                            @if (item.IsVisible)
                            {
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 dark:bg-green-900 text-green-800 dark:text-green-200">
                                    Evet
                                </span>
                            }
                            else
                            {
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 dark:bg-slate-900 text-gray-800 dark:text-slate-500">
                                    Hayır
                                </span>
                            }
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">@item.CreateDate.ToString("dd.MM.yyyy")</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <div class="flex space-x-2">
                                <a asp-action="Images" asp-route-id="@item.Id" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-md text-white bg-indigo-400 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-indigo-700 dark:hover:bg-indigo-800" title="Düzenle">
                                    <i class="fas fa-images mr-2"></i>
                                    Görsel Yönetimi
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 duration-300" title="Düzenle">
                                    <i class="fas fa-edit mr-1"></i>
                                    Düzenle
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 duration-300" title="Sil">
                                    <i class="fas fa-trash mr-1"></i>
                                    Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @await Component.InvokeAsync("DataTable", new
        {
            tableId = "projectTable",
            columns = new List<string> { "4" },
            isOrderable = true
        })
}
