@model PageViewModel

<section class="bg-gray-200">
    <div class="py-20 set-bg-third">
        <div class="container mx-auto px-4">
            <div class="text-center">
                <p class="text-[var(--primary-color)] mb-2">PORTFOLYOM</p>
                <h2 class="text-4xl section-title set-color-secondary">Sevilen Eserlerim</h2>
            </div>

            <div class="gallery-grid">
                @if (Model.Projects.Any())
                {
                    @foreach (var project in Model.Projects)
                    {
                        <a asp-controller="Galeri" asp-action="Detay" asp-route-url="@project.UrlName">
                            <div class="gallery-item">
                                <img src="@(project.Images.FirstOrDefault(x => x.IsMainImage)?.Url
                                          ?? project.Images.FirstOrDefault()?.Url
                                          ?? Url.Content("~/images/nullimg.jpg"))"
                                     alt="@project.DisplayName" class="gallery-image">
                                <div class="gallery-overlay">
                                    <h3 class="">@project.DisplayName</h3>
                                    <p class="text-center">
                                        @(project.Description.Length > 50
                                            ? $"{project.Description[..50]}..."
                                            : project.Description)
                                    </p>
                                    <span class="text-white">Detayları Gör <i class="fas fa-arrow-right"></i></span>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

    <div class="py-20">
        <div class="container text-center mx-auto px-4">
            <p class="text-center set-color-primary mb-2">PORTFOLYOM</p>
            <h2 class="text-center text-4xl section-title set-color-secondary">Sevilen Kategorilerim</h2>
            <div class="portfolio-grid mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                @foreach (var i in Model.Categories)
                {
                    <a asp-controller="Galeri" asp-action="Index" asp-route-kategori="@i.UrlName" class="nav-link">
                        <div class="portfolio-item w-full">
                            <img src="@i.ImageUrl" alt="@i.DisplayName" width="600" height="400">
                            <div class="portfolio-overlay">
                                <h3 class="portfolio-title">@i.DisplayName</h3>
                                <span class="text-white">Projeleri Gör <i class="fas fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>

