@model PageViewModel

<section class="py-20 set-bg-third">
    <div class="container mx-auto px-4">
        <div class="text-center">
            <p class="text-[var(--primary-color)] mb-2">PORTFOLYOM</p>
            <h2 class="text-4xl section-title set-color-secondary">Sevilen Eserlerim</h2>
        </div>

        <div class="gallery-grid">
            @if (Model.Projects.Any())
            {
                @foreach (var project in Model.Projects)
                {
                    <a asp-controller="Galeri" asp-action="Detay" asp-route-url="@project.UrlName">
                        <div class="gallery-item">
                            <img src="@(project.Images.FirstOrDefault(x => x.IsMainImage)?.Url
                                      ?? project.Images.FirstOrDefault()?.Url
                                      ?? Url.Content("~/images/nullimg.jpg"))"
                                 alt="@project.DisplayName" class="gallery-image">
                            <div class="gallery-overlay">
                                <h3 class="">@project.DisplayName</h3>
                                <p class="text-center">
                                    @(project.Description.Length > 50
                                        ? $"{project.Description[..50]}..."
                                        : project.Description)
                                </p>
                                <span class="text-white">Detayları Gör <i class="fas fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>

